@import "reset.scss";
@import "colors.scss";
@import "fonts.scss";
@import "mixins.scss";

body{
  color: $blue-txt;
}

header{
  padding: 21px 71px;
  box-shadow: 0 0.067rem 0.067rem rgba(0, 0, 0, 0.15);
  background-color: $white;

  .logo{
    width: 10rem;
    transition: width .3s ease-in;

  }
}
.header-right{
  float: right;
  line-height: 38px;
  position: relative;

  &:before{
    content:"";
    position: absolute;
    left: -20px;
    display: inline-block;
    width: 1px;
    height: 50px;
    background-color: #c3c3c3;
    border:none;
  }
  span{
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: $yellow;
    color: $white;
    font-family:"CircularStd-Black";
    font-size: 0.933rem;
    font-weight: 300;
    border-radius: 50%;
    margin-right: 1.33333333rem;

    & + p{
      color: $grey-txt;
      font-family:"CircularStd-Book";
      font-size: 1.067rem;
      font-weight: 300;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1.45rem;
    }
  }

  img{
    display: inline-block;
    vertical-align: middle;
  }
}

#home{
  padding-bottom: 70px;

  section{
    width: 1032px;
    margin:auto;
  }
  
  h1{
    color: $blue-title;
    font-family:"CircularStd-Black";
    font-size: 2.133rem;
    font-weight: 900;
    line-height: 2.667rem;
    margin: 80px auto 31px;
  }
  
  ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  li{
    flex: 1 20%;

    figcaption{
      font-family: "SF-UI-Text-Light";
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.2rem;
      color: $blue-txt;
      display: inline-block;
      width: 95%;
      margin-top: 0.3rem;

      span{
        font-family:"SanFranciscoText-Semibold";
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2rem;
        margin-right: .5rem;
        display: inline;      
      }
    }
  }
}

#product{
  main{
    padding: 80px 0 129px;
    width: 1129px;
    margin:auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    #product-desc{
      flex: 1 57.5%;
    }
    #product-img{
      flex: 1 42.5%;
      padding-left: 2rem;
    }
    p{
      color: $grey-txt-dk;
      font-family:"CircularStd-Medium";
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 2.133rem;
      margin-bottom: 30px;
    }
  }
  h1{
    color: $blue-title;
    font-family:"CircularStd-Black";
    font-size: 3.467rem;
    font-weight: 900;
    margin-bottom: 29px;
  }
  .price{
    color: $yellow;
    font-family:"CircularStd-Medium";
    font-size: 2.267rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  hr{
    width: 100%;
    height: 13px;
    background-color: rgba(254, 189, 23, 0.1);
    border:none;
    margin-bottom: 33px;
  }

  .validity{
    color: #afafaf;
  }
  .quantity{
    width: 9rem;
    height: 3.067rem;
    border-radius: 0.2rem;
    background-color: rgba(229, 229, 229, 0.5);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 19px;
    padding: 0.35rem 0.3rem;
    
    span:first-of-type, span:last-of-type{
      width: 2.4rem;
      height: 2.4rem;
      line-height: 2.4rem;
      border-radius: 0.133rem;
      border: 0.067rem solid #e5e5e5;
      background-color: $white;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
    }
    span:first-of-type{
      line-height: 2.1rem;
      float: left;
    }

    span:last-of-type{
      float: right;
    }
  }
  .quantity-number{
    color: #969696;
    font-family:"CircularStd-Bold";
    font-size: 1.067rem;
    font-weight: 700;
    line-height: 2.3rem;
    margin: 0 1rem;
  }
  .cart-btn{
    cursor: pointer;
    border-radius: 0.2rem;
    border: 0.067rem solid rgba(0, 0, 0, 0.15);
    background-color: $yellow;
    width: 9.6rem;
    height: 3.4rem;
    line-height: 3.4rem;
    color:$white;
    font-family:"CircularStd-Medium";
    text-align: center;
    border:none;
    display: inline-block;
    vertical-align: middle;
  }
}

@import "responsive.scss";
